/* Table styles */
.tableList {
  width: 100%;
  border-collapse: separate; /* Aggiunto per separare le celle della tabella */
  border-spacing: 0; /* Aggiunto per rimuovere lo spazio tra le celle */
}

.tableList th, .tableList td {
  padding: 8px;
  border: 1px solid #ccc; /* Aggiunto bordo a tutte le celle della tabella */
}

.tableList th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tableList tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tableList caption {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Remove border from other elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
td,
th,
select,
textarea,
a {
  border: none; /* Rimuove il contorno da tutti gli elementi */
}
