<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dettaglio asta</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<h1>Dettagli asta</h1>
	<div>
		<table>
			<caption>La tua asta</caption>
			<thead>
				<tr>
					<th>Id</th>
					<th>Scadenza</th>
					<th>Tempo rimanente</th>
					<th>Prezzo iniziale</th>
					<th>Rialzo minimo</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="entry : ${asta}">
					<td th:text="${entry.key.idAsta}"></td>
					<td th:text="${entry.key.scadenza}"></td>
					<td th:text="${entry.value}"></td>
					<td th:text="${entry.key.prezzoIniziale}"></td>
					<td th:text="${entry.key.rialzoMinimo}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div th:if="${offerte.size() > 0}">
		<table>
			<caption>Offerte ricevute</caption>
			<thead>
				<tr>
					<th>Offerente</th>
					<th>Offerta</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="offerta : ${offerte}">
					<td th:text="${offerta.offerente}"></td>
					<td th:text="${offerta.offerta}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${offerte.size() == 0}">Non hai ancora ricevuto
		offerte.</div>

	<div>
		<form th:action="@{/chiudiAsta}" method="POST">
			<input type="hidden" name="idasta" th:value="${asta.idasta}">
			<button type="submit">Chiudi asta</button>
		</form>
	</div>
</body>
</html>