<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Area vendita</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<h1>Area vendita</h1>
	<a th:href="@{/Home}">Torna alla home</a>

	<div>
		<p>Crea un'asta</p>
		<form action="#" th:action="@{/CreateAsta(user)}" method="POST">
			<fieldset>
				<p>
					Scadenza: <input type="text" name="scadenza" required />
				</p>
				<p>
					Rialzo minimo: <input type="number" step="1" min=1
						name="rialzoMinimo" required />
				</p>
				<p th:each="a : ${articoli}">
					<input type="checkbox" th:id="${a.code}" name="articoli"
						th:value="${a.code}" th:if="${a.sold} == false" th:attr="disabled=${not (a.idasta==null)}"> 
						<label th:for="${a.code}" th:text="${a.name}" th:if="${a.sold} == false"></label>
				</p>
				<input type="submit" name="Crea Asta">
			</fieldset>
		</form>
	</div>

	<p>Le tue aste:</p>
	<div th:if="${asteAperte.size() > 0}">
		<table>
			<caption>Le tue aste aperte:</caption>
			<thead>
				<tr>
					<th>Id</th>
					<th>Scadenza</th>
					<th>Tempo rimanente</th>
					<th>Prezzo iniziale</th>
					<th>Rialzo minimo</th>
					<th>Offerta massima</th>
					<th>Link</th>
					<th>Codici Articoli</th>
					<th>Nome Articoli</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="entry : ${asteAperte}">
					<td th:text="${entry.idAsta}"></td>
					<td th:text="${entry.scad}"></td>
					<td th:text="${entry.tempoMancante}"></td>
					<td th:text="${entry.prezzoIniziale}"></td>
					<td th:text="${entry.rialzoMinimo}"></td>
					<td th:if="${entry.offertaMax > 0}" th:text="${entry.offertaMax}"></td>
					<td th:if="${entry.offertaMax < 0}">Ancora nessuna offerta</td>
					<td><a th:href="@{/GoToDettaglioAsta(idAsta=${entry.idAsta})}">Dettagli</a></td>
					<td><samp th:each="a : ${articoli}"
							th:if="${a.idAsta == entry.idAsta}" th:text="${a.code + ' '}"></samp></td>
					<td><samp th:each="a : ${articoli}"
							th:if="${a.idAsta == entry.idAsta}" th:text="${a.name + ' '}"></samp></td>
				</tr>


			</tbody>

		</table>
	</div>
	<div th:if="${asteAperte.size() == 0}">Non hai aste aperte.</div>

	<br>

	<div th:if="${asteChiuse.size() > 0}">
		<table>
			<caption>Le tue aste chiuse:</caption>
			<thead>
				<tr>
					<th>Id</th>
					<th>Scadenza</th>
					<th>Prezzo iniziale</th>
					<th>Prezzo finale</th>
					<th>Aggiudicatario</th>
					<th>Indirizzo</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="entry : ${asteChiuse}">
					<td th:text="${entry.key.idAsta}"></td>
					<td th:text="${entry.key.scad}"></td>
					<td th:text="${entry.key.prezzoIniziale}"></td>
					<td th:text="${entry.key.offertaMax}"></td>
					<td th:text="${entry.value.username}"></td>
					<td th:text="${entry.value.address}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${asteChiuse.size() == 0}">Non hai aste chiuse.</div>
	<br>
	<hr>
	<br>
	<div>
		<p>Crea un articolo:</p>
		<form action="#" th:action="@{/CreateArticolo}" method="POST"
			enctype="multipart/form-data">
			<!--enctype="multipart/form-data"  -->
			<fieldset>
				<p>
					Nome: <input type="text" name="name" required />
				</p>
				<p>
					Descrizione: <input type="text" name="description" required />
				</p>
				<p>
					Prezzo: <input type="text" name="price" min=0.1 step=0.01 required />
				</p>
				<input type="file" name="file" required/> 
				<br/> 
				<input type="submit" name="Crea Articolo" />
			</fieldset>
		</form>
	</div>
	
	<p>I tuoi articoli:</p>
	<div th:if="${articoli.size() > 0}">

		<table>
			<thead>
				<tr>
					<th>Codice</th>
					<th>Nome</th>
					<th>Descrizione</th>
					<th>Prezzo</th>
					<th>Stato</th>
					<th>Immagine</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a : ${articoli}">
					<td th:text="${a.code}"></td>
					<td th:text="${a.name}"></td>
					<td th:text="${a.description}"></td>
					<td th:text="${a.price}"></td>
					<td th:if="${a.sold == true}">Venduto</td>
					<td th:if="${a.sold == false}">Non venduto</td>
					<td><a th:href="@{/GetImage(image=${a.image})}">Vedi immagine</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${articoli.size() == 0}">Non hai articoli.</div>

</body>
</html>