<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Area vendita</title>
</head>
<body>
	<h1>Area vendita</h1>
	<p>Crea un'asta</p>
	<p>Crea un articolo:</p>
	<form action="#" th:action="@{/CreateArticolo}" method = "POST"> <!--enctype="multipart/form-data"  -->
		<fieldset>
				<p>
					Nome: <input type="text" name="name" required />
				</p>
				<p>
					Descrizione: <input type="text" name="description" required />
				</p>
				<p>
					Prezzo: <input type="text" name="price" required />
				</p>
				<input type="submit" name="Crea Articolo">
			</fieldset>
	</form>
	<p>I tuoi articoli:</p>
	<div th:if="${articoli.size() > 0}">
		
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrizione</th>
					<th>Prezzo</th>
					<th>Stato</th>
				</tr>
			</thead>
			<tbody>
					<tr th:each="a : ${articoli}">
					<td th:text="${a.name}"></td>
					<td th:text="${a.description}"></td>
					<td th:text="${a.price}"></td>
					<td th:if="${a.sold == true}">Venduto</td>
					<td th:if="${a.sold == false}">Non venduto</td>
					<!--<img th:src="@{'data:image/jpeg;base64,'+${a.getBase64Image()}}" />  -->
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${articoli.size() == 0}">Non hai articoli.</div>

</body>
</html>